Repository madison890000/learn-together-next-js, pull requests merged in 2023-10, with the labels that each got.

#13 fix: darkMode text color
  src/app/globals.css
Labels: bug, good first issue, Need Help, CSS

#14 fix:dark mode of new pages
  src/app/globals.css
  src/app/react-demos/page.tsx
  src/app/react-demos/use-effect/page.tsx
Labels: bug, Need Help, CSS

#16 feat: switch default readme to english & add zh-CN version
  README-CN.md
  README.md
Labels: documentation

#17 issue 5: add demo of swr
  package-lock.json
  package.json
  src/app/react-demos/page.tsx
  src/app/react-demos/swr/DemoOfReactQuerySwr.tsx
  src/app/react-demos/swr/DemoOfSwr.tsx
  src/app/react-demos/swr/layout.tsx
  src/app/react-demos/swr/mockFetcher.ts
  src/app/react-demos/swr/page.tsx
Labels: Need Help, NextJs, React
